/* Mals Totem site designed by Angelo Spampinato
Version: 1
2014
*/

#mainbody {
	background-color:black


#youtube {
	height:100%;
	width: 100%;
	position:relative;
	top: 0;
	left: 0;
}

iframe {
	height: 100%;
	width: 100%;
}

#logo {
	margin-right:-100px;
	position:absolute;
	height:80px;
	width:265px;
	background:transparent;
}

#wrapper {
	top: 0;
	left: 0;
}

@font-face { 
	font-family: Fraternal; 
	src: url('documents/HFraternal.otf'); } 
@font-face { 
	font-family: Fraternal; 
	font-weight: bold; 
	src: url('documents/HFraternal-Bold.otf');}

h1 {
	color: white;
	font-size: 40px;
	font-family: Fraternal;
	margin-right:150px;
}

