@charset "UTF-8";
/* CSS Document */
/* Elliott Aldrich - AldrichArt & Design - www.aldrichart.com - elliott@aldrichart.com */

/* RESET & INIT */
body, h1, h2, h3, h4, h5, h6, p, div, span, ul, li, a, blockquote, acronym, form, input, select, textarea { padding: 0; margin: 0; font-style: normal; font-family: Helvetica, sans-serif; height: auto; line-height: auto; }
img { border: 0; }
acronym { cursor: help; }
#header li { list-style: none; }
img{ border: none; }img{}
	img.right{ margin: 0 0 10px 20px; }
	img.left{ margin: 0 20px 10px 0; }
.left, .right{ display: inline; }
.left{ float: left; }
.right{ float: right; }
.end, .clear, .row, .break{ clear: both; float: none; display: block; }
.horizontal li{ float: left; display: inline; }
.button{ cursor: pointer; }



/* LAYOUT */
body{ background: #FFF url(assets/images/page_back.png) 0 0 repeat-x; }
.wrapper, #content{ clear: both; display: block; }
.wrapper{ width: 954px; margin: 0 auto; }
#header{height: 109px; background: transparent url(assets/images/header_back.png) center no-repeat; margin-top: 15px; }
#header .wrapper{ height: 109px; width: 954px; background: transparent url(assets/images/header_back.png) 0 0 no-repeat; }

#logotype{ float: left; margin: 4px 0 0 10px; }
#logotype a{ background: transparent url(assets/images/sharkfest_icon.png) 0 0 no-repeat; display: block; width: 103px; height: 100px; }
#logotype a span{ display: none; }
	
#title{ float: left; margin: 18px 0 0 28px; }
#title a{ background: transparent url(assets/images/sharkfest_title.png) 0 0 no-repeat; display: block; width: 255px; height: 39px; }
#title a span{ display: none; }

#sub_title{ float: left; margin: 24px 0 0 139px; background: transparent url(assets/images/sharkfest__sub_title.png) 0 0 no-repeat; display: block; width: 405px; height: 25px; }
#sub_title span{ display: none; }
	
#content{ background: #FFF url(assets/images/body_back934.png) center 0 no-repeat; padding: 20px 10px 20px 10px; margin: 1px 0 0 0; clear: both; min-height: 525px; width: 934px; border-left: 1px solid #9a9ca3; border-right: 1px solid #9a9ca3; }
#main{ width: 660px; padding: 0 0 0 10px;}
#video{ width: 868px; padding: 0 10px 0 10px;}
#side{ width: 234px; display: block; }
#side img{ margin: 0 0 10px 0; }


/* TYPOGRAPHY */
h1{ font-size: 1.6em; color: #4067b3; font-family:"Helvetica Neue", Helvetica, sans-serif; margin: 10px 0 5px 0; }
h2{ font-size: 1.4em; color: #474747; font-style: normal; font-weight: normal; font-family:"Helvetica Neue", Helvetica, sans-serif; margin: 10px 0 5px 0; }
h3{ font-size: 1.15em; color: #4067b3; margin: 10px 0 0 0; font-family:"Helvetica Neue", Helvetica, sans-serif; margin: 10px 0 5px 0; }
p{ font-size: .8em; line-height: 1.4em; color: #474747; font-family:"Helvetica Neue", Helvetica, sans-serif; }
.intro{ font-size: 1.1em; border-top: #4067b3 solid 1px; border-bottom: #4067b3 solid 1px; margin: 15px 0; padding: 10px; font-family:"Helvetica Neue", Helvetica, sans-serif; }
.introHome{ font-size: 1em; border-top: #4067b3 solid 1px; border-bottom: #4067b3 solid 1px; margin: 15px 0; padding: 10px; font-family:"Helvetica Neue", Helvetica, sans-serif; }
li{ margin: 8px 0 0 18px; line-height: 20px;}
hr{ height:1px; color:#CCC;}

a{ text-decoration: none; color: #003399; font-weight: normal; text-decoration: none; }
a:hover{ color: #E9681D; text-decoration: underline; }

#footer p{ text-align: center; color: #6b6b6b; margin: 10px 0; }

#footer a{ text-decoration: none; color: #6b6b6b; font-weight: normal; text-decoration: none; }
#footer a:hover{ color: #E9681D; text-decoration: underline; }
.link {font-size: 1em;}
.VideoData {font-size: .8em; color:#666;}

/* OTHER */
.reg{ width: 234px; height: 109px; display: block; background: transparent url(assets/panels/early_reg3.png) 0 0 no-repeat; margin: 0 0 10px 0; }
.reg:hover{ background-position: 0 -109px; }
.reg span{ display: none; }


.regButt{ width: 151px; height: 29px; display: block; background: transparent url(assets/buttons/register_now.png) 0 0 no-repeat; margin: 10px 0 10px 0; }
.regButt:hover{ background-position: 0 -29px; }
.regButt span{ display: none; }

.downloadButt{ width: 151px; height: 29px; display: block; background: transparent url(assets/buttons/download_now_grey.png) 0 0 no-repeat; margin: 10px 0 10px 0; }
.downloadButt:hover{ background-position: 0 -29px; }
.downloadButt span{ display: none; }

.logo{margin: 0 20px 90px 0; }
.time{float: right; }

/* NAVIGATION */
#primaryNav{ float: right; clear: both; display: block; margin: -25px 16px 0 0; }
#primaryNav .item{ float: left; margin-right: 10px; }
	#primaryNav .item.last{ margin-right: 0; clear: right; }
#primaryNav li a.firstLevel{ cursor: pointer; display: block; height: 30px; background: transparent url(assets/images/primary-navigation.png) 0 0 no-repeat; }
	#primaryNav li a.firstLevel span{ display: none; }
	/* each item of first level */
	#primaryNav li.navEvent a.firstLevel{ width: 53px; background-position: 0 0; }
		#primaryNav li.navEvent a.firstLevel:hover{ background-position: 0 -60px; }
		#pageEvent #primaryNav li.navEvent a.firstLevel, #pageEvent #primaryNav li.navEvent a.firstLevel:hover{ background-position: 0 -30px; }
	#primaryNav li.navSchedule a.firstLevel{ width: 78px; background-position: -63px 0; }
		#primaryNav li.navSchedule a.firstLevel:hover{ background-position: -63px -60px; }
		#pageSchedule #primaryNav li.navSchedule a.firstLevel, #pageSchedule #primaryNav li.navSchedule a.firstLevel:hover{ background-position: -63px -30px; }
	#primaryNav li.navTracks a.firstLevel{ width: 59px; background-position: -151px 0; }
		#primaryNav li.navTracks a.firstLevel:hover{ background-position: -151px -60px; }
		#pageTracks #primaryNav li.navTracks a.firstLevel, #pageTracks #primaryNav li.navTracks a.firstLevel:hover{ background-position: -151px -30px; }
	#primaryNav li.navRegister a.firstLevel{ width: 73px; background-position: -220px 0; }
		#primaryNav li.navRegister a.firstLevel:hover{ background-position: -220px -60px; }
		#pageRegister #primaryNav li.navRegister a.firstLevel, #pageRegister #primaryNav li.navRegister a.firstLevel:hover{ background-position: -220px -30px; }
	#primaryNav li.navLodging a.firstLevel{ width: 70px; background-position: -303px 0; }
		#primaryNav li.navLodging a.firstLevel:hover{ background-position: -303px -60px; }
		#pageLodging #primaryNav li.navLodging a.firstLevel, #pageLodging #primaryNav li.navLodging a.firstLevel:hover{ background-position: -303px -30px; }
	#primaryNav li.navSponsors a.firstLevel{ width: 79px; background-position: -383px 0; }
		#primaryNav li.navSponsors a.firstLevel:hover{ background-position: -383px -60px; }
		#pageSponsors #primaryNav li.navSponsors a.firstLevel, #pageSponsors #primaryNav li.navSponsors a.firstLevel:hover{ background-position: -383px -30px; }
	#primaryNav li.navRetrospective a.firstLevel{ width: 109px; background-position: -472px 0; }
		#primaryNav li.navRetrospective a.firstLevel:hover{ background-position: -472px -60px; }
		#pageRetrospective #primaryNav li.navRetrospective a.firstLevel, #pageRetrospective #primaryNav li.navRetrospective a.firstLevel:hover{ background-position: -472px -30px; }
	#primaryNav li.navWireshark a.firstLevel{ width: 86px; background-position: -591px 0; }
		#primaryNav li.navWireshark a.firstLevel:hover{ background-position: -591px -60px; }
		#pageWireshark #primaryNav li.navWireshark a.firstLevel, #pageWireshark #primaryNav li.navWireshark a.firstLevel:hover{ background-position: -591px -30px; }
	#primaryNav li.navMessages a.firstLevel{ width: 83px; background-position: -687px 0; }
		#primaryNav li.navMessages a.firstLevel:hover{ background-position: -687px -60px; }
		#pageMessages #primaryNav li.navMessages a.firstLevel, #pageMessages #primaryNav li.navMessages a.firstLevel:hover{ background-position: -687px -30px; }

	/* each item of dropdown */
	#primaryNav .dropdown{ padding: 0 0 9px 0; background: transparent url(assets/images/drop-down-end.gif) 0 bottom no-repeat; }
	#primaryNav .dropdown a{ display: block; height: 24px; width: 109px; }
	#primaryNav .dropdown a span{ display: none; }
	#primaryNav .dropdown li.dropdown-top{ height: 2px; line-height: 2px; font-size: 0; background: transparent url(assets/images/drop-down-top.gif) 0 0 no-repeat; }
	#primaryNav li.navRetrospective .dropdown li a{ background: transparent url(assets/images/drop-down-retrospective.png) 0 0 no-repeat; }
		#primaryNav li.navRetrospective .dropdown li.navSharkfest11 a{ background-position: 0 -72px; }
			#primaryNav li.navRetrospective .dropdown li.navSharkfest11 a:hover{ background-position: -109px -72px; }
		#primaryNav li.navRetrospective .dropdown li.navSharkfest10 a{}
			#primaryNav li.navRetrospective .dropdown li.navSharkfest10 a:hover{ background-position: -109px 0px; }
		#primaryNav li.navRetrospective .dropdown li.navSharkfest09 a{ background-position: 0 -24px; }
			#primaryNav li.navRetrospective .dropdown li.navSharkfest09 a:hover{ background-position: -109px -24px; }
		#primaryNav li.navRetrospective .dropdown li.navSharkfest08 a{ background-position: 0 -48px; }
			#primaryNav li.navRetrospective .dropdown li.navSharkfest08 a:hover{ background-position: -109px -48px; }

#primaryNav.sf-menu a.sf-with-ul{ padding-right: 0; }
#primaryNav ul.dropdown{ margin-top: -9px; }


/* IE fix additions April 22, 2011 */
#header{ overflow: hidden; }
#logotype{ position: absolute; }
#title{ position: absolute; margin-left: 141px; }
#sub_title{ position: absolute; margin-left: 529px; }
#primaryNav{ position: absolute; margin: 79px 0 0 260px; }